<!DOCTYPE html>
<html>
  <head>
    <title>PR's with no discussion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        padding-top: 50px;
        padding-left: 200px;
      }
      #center-header{
        text-align: center;
        padding-top: 30px;
      }
    </style>
  </head>
  <body>
    <h3 id="center-header"> List of all PR's that haven't seen any discussion: </h3>
    <div class="container">
      <ul>
        {% for n in my_list %}
        <li>{{n}}</li>
        {% endfor %}
      </ul>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>