body {
    margin: 0px;
    padding: 0px;
}
.container {
  padding-bottom: 0.5em;
  text-align: left;
  display: inline-block;
  width: 45%;
}
.center-containers{
  padding-left: 12%;
}
.picture {
  padding-bottom: 1em;
  text-align: left;
}
#center-header{
  text-align: left;
  font-size: 1.5em;
  display: inline-block;
}
#description{
  text-align: left;
  font-style: italic;
  color: gray;
  font-size: 1em;
}
.footer{
  padding-top: 100px;
}
ul {
  list-style-type: none;
}
.container:hover{
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2), 0 0.7em 1em 0 rgba(0, 0, 0, 0.19);
}
#week-old-div{
  display: block;
}
#no-diss-div{
  display: block;
}
#active-prs-div{
  display: block;
}
#oldest-prs-div{
  display: block;
}
#my-prs-div{
  display: block;
}
#unmergeable-div{
  display: block;
}
#pop-tickets-div{
  display: block;
}
#refer-div{
  display: block;
}

#opened-refer{
  width: 0.8em;
  height: 1.3em;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: -0.8em;
}

#opened-pop-ticket{
  width: 0.8em;
  height: 1.3em;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: -0.8em;
}

#opened-unmergeable{
  width: 0.8em;
  height: 1.3em;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: -0.8em;
}

#opened-my-prs{
  width: 0.8em;
  height: 1.3em;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: -0.8em;
}

#opened-oldest-prs{
  width: 0.8em;
  height: 1.3em;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: -0.8em;
}

#opened-active-prs{
  width: 0.8em;
  height: 1.3em;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: -0.8em;
}

#opened-no-diss{
  width: 0.8em;
  height: 1.3em;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: -0.8em;
}

#opened-week-old{
  width: 0.8em;
  height: 1.3em;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: -0.8em;
}
